#dashboard {
        
        @import "dashboard/header";
        @import "dashboard/sidebar";
        @import "dashboard/lobby";
        .panel {padding: 10px;}
        .game-item {
            // background: black;
            div {
                margin: 10px 5px 10px 5px;
                height: 200px;
                display: block;
                background-repeat: no-repeat;
                background-size: 150% auto;

                .details {
                    color: white;
                    text-align: center;
                    font-size: 1.8em;
                    opacity: 1s
                }
                &:hover {
                    opacity: .7;
                }
            }
        }
}